.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.icon-container{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border: 1px solid #5555;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin: 0 auto;
}
.second-card{
  justify-content: center;
  background: #f7eee5;
  border: none;

}
.card-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
}
.footer-content-wrapper{
  background: #f7eee5;

}
.ReactGridGallery_tile-overlay:hover{
  background-color: #282c34 !important;

}
.avatar{
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 10px;
  border: 1px solid #a1a1a1;
}
.avatar:hover{
  border: 1px solid rgb(218, 162, 60);
  background-color: #282c34;
  cursor: pointer;
}
.view{
  background: #daa23c;
    border: none;
}
.meet-team{
  background-color: antiquewhite;
}
.title{
  padding: 20px;
}
.insurance-container{
  padding: 35px;
}
@media only screen and (max-width: 600px) {

  .first-card{
    max-width: 100% !important;
    position:  relative !important;
    top:0 !important;
  }
}